.issuesPagination .selected a {
  background: rgba(48, 79, 254, 0.12);
}

.issuesPagination .previous a,
.issuesPagination .next a {
  background: rgba(48, 79, 254, 0.12);
}

.issuesPagination .disabled > a {
  color: #ccc;
  background-color: #f8f8f8;
  border-color: #eee;
  cursor: default;
  visibility: hidden;
}

.issuesPagination .disabled > a:hover {
  background-color: #f8f8f8;
}
.issuesPagination .break {
  margin: 0 8px;
}

.issuesPagination .previous {
  margin-right: 1rem;
}

.issuesPagination .next {
  margin-left: 1rem;
}

.previous a {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.pagination {
  padding-top: 1rem;
  text-align: center;
}

.pagination > ul {
  padding: 0;
  margin: 0;
}

.pagination li {
  display: inline-block;
}

.pagination li > a {
  margin: 1px;
  display: inline-block;
  cursor: pointer;
  background-color: #fff;
  border-radius: 50%;
  min-width: 1rem;
  width: 30px;
  height: 30px;
  line-height: 30px;
}

.pagination li > a:focus {
  outline: none;
}
