*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

.content-area {
  max-width: 800px;
  width: 100%;
  margin: 1rem auto;
}

.mr20 {
  margin-right: 20px;
}
